<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fauzanpramulia.dosen_ta_ujian">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_simu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_simu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Daftar Ujian Kelas" />
        <activity
            android:name=".DaftarMahasiswaActivity"
            android:label="Daftar Mahasiswa" />
        <activity android:name=".ChangeStatusActivity" />
        <activity android:name=".UjianUasUtsActivity" />
        <activity android:name=".DetailUjianActivity"></activity>
    </application>

</manifest>